<div class="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li>Pages</li>
    <li class="active">Blank</li>
  </ul>

  <div class="b-right hidden-xs">
    <ul>
      <li><a href="#" title=""><i class="fa fa-signal"></i></a></li>
      <li><a href="#" title=""><i class="fa fa-comments"></i></a></li>
      <li class="dropdown">
        <a href="#" title="" data-toggle="dropdown"><i class="fa fa-plus"></i><span> Tasks</span></a>
        <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
          <li><a href="#">Add new task</a></li>
          <li><a href="#">Statement</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>