<div class="qs-layout-menu">
  <div class="btn btn-gray qs-setting-btn" id="qs-setting-btn">
    <i class="fa fa-cog bigger-150 icon-only"></i>
  </div>
  <div class="qs-setting-box" id="qs-setting-box">

    <div class="hidden-xs hidden-sm">
      <span class="bigger-120">Layout Options</span>

      <div class="hr hr-dotted hr-8"></div>
      <label>
        <input type="checkbox" class="tc" id="fixed-navbar"/>
        <span id="#fixed-navbar" class="labels"> Fixed NavBar</span>
      </label>
      <label>
        <input type="checkbox" class="tc" id="fixed-sidebar"/>
        <span id="#fixed-sidebar" class="labels"> Fixed NavBar+SideBar</span>
      </label>
      <label>
        <input type="checkbox" class="tc" id="sidebar-toggle"/>
        <span id="#sidebar-toggle" class="labels"> Sidebar Toggle</span>
      </label>
      <label>
        <input type="checkbox" class="tc" id="in-container"/>
        <span id="#in-container" class="labels"> Inside<strong>.container</strong></span>
      </label>

      <div class="space-4"></div>
    </div>

    <span class="bigger-120">Color Options</span>

    <div class="hr hr-dotted hr-8"></div>

    <label>
      <input type="checkbox" class="tc" id="side-bar-color"/>
      <span id="#side-bar-color" class="labels"> SideBar (Light)</span>
    </label>

    <ul>
      <li>
        <button class="btn" style="background-color:#d15050;" onclick="swapStyle('assets/css/themes/style.css')"></button>
      </li>
      <li>
        <button class="btn" style="background-color:#86618f;" onclick="swapStyle('assets/css/themes/style-1.css')"></button>
      </li>
      <li>
        <button class="btn" style="background-color:#ba5d32;" onclick="swapStyle('assets/css/themes/style-2.css')"></button>
      </li>
      <li>
        <button class="btn" style="background-color:#488075;" onclick="swapStyle('assets/css/themes/style-3.css')"></button>
      </li>
      <li>
        <button class="btn" style="background-color:#4e72c2;" onclick="swapStyle('assets/css/themes/style-4.css')"></button>
      </li>
    </ul>

  </div>
</div>